h1{
    text-align: center;
    font-size: 5em;
    color: #000;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
h3{
    color: #000;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
body{
    background-image: url("/home/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

p{
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    max-width: 40%;
}
.main1{
    text-align: center;
    margin: auto;
    
}
.main2{
    text-align: center;
    margin: 5%;
    margin-bottom: 1%;
    font-size: 3em;
    height: 30%;
    width: 25%;
}

.main3{
    text-align: center;
    margin: 5%;
    margin-top: 1%;
    font-size: 3em;
    height: 20%;
    width: 60%;
}

.label{
    font-size: 2em;
    text-align: left;
    width: 400px;
    color: fff;
}

.form-control{
    width: 40%;
    display: inline-block;
}


.save{
    text-align: right;
    margin-right: 2%;;
}
.btn{
    height: 50px;
    width: 8%;
}
.search{
    width: 250px;
}
.sbtn1{
    height: 30px;
    width: 100px;
}

.combobox{
    display: inline-block;
    
}

.card{
    width: 25%;
    list-style-type: none;
}

img{
    width: 100%;
}

.vbtn{
    text-align: center;
}

.imgdiv{
    width: 30%;
}
.music{
    color: #fff;
    background-color: #7a16a8;
    border-color: #7a16a8;
}

.music:hover{
    background-color: #610a8a;
    border-color: #610a8a;
}

.fanfics{
    color: #fff;
    background-color: #101cc4;
    border-color: #101cc4;
}

.fanfics:hover{
    background-color: #0a11a1;
    border-color: #0a11a1;
}

.authors{
    color: #fff;
    background-color: #eb4e10;
    border-color: #eb4e10;
}

.authors:hover{
    background-color: #bd400f;
    border-color: #bd400f;
}
